* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Rose", cursive;
}

.container {
  background-color: #3c341f;
}

.logo {
  width: 100px;
}

.navbar {
  padding-left: 100px;
  padding-top: 30px;
  display: flex;
}

.list {
  list-style-type: none;
  display: flex;
  padding-left: 320px;
  padding-top: 8px;
  color: grey;
}

.list-item {
  padding-left: 30px;
  font-size: 20px;
}

.active {
  color: white;
}

.started {
  padding-left: 80px;
  padding-top: 10px;
}

.button-small {
  padding: 10px 19px 10px 19px;
  border: 1px solid olive;
  background-color: none;
  font-size: 16px;
  background-color: #3c341f;
  color: olive;
  border-radius: 8px;
  font-weight: bold;
}

.hero {
  padding-left: 90px;
  padding-top: 70px;
  padding-bottom: 100px;
}

.hero-heading {
  font-size: 80px;
  color: white;
  position: absolute;
  padding-right: 600px;
}

.hero-para {
  padding-left: 740px;
  padding-right: 110px;
  padding-top: 50px;
  font-size: 20px;
  color: white;
}

.bottom-logo {
  width: 1349px;
  height: 500px;
  overflow-x: hidden;
  overflow-y: hidden;
}
